.subtitulo {
  padding-top: 2%;
}

.botoes {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  display:block;

  }

  .titulo {
    padding-top: 24px;
  }

  .uk-button{

    background-color: #AC8030;
    color: #ffffff
  }
