.subtitulo {
  padding-top: 2%;
}

.botoes {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  display:block;

  }

  .titulo {
    padding-top: 24px;
  }

  .uk-button{

    background-color: #AC8030;
    color: #ffffff
  }
ul .img{
  
  height: auto;
}

.validation-error p{
  color: #dc3545;
  margin-top: 0.4em;
  border-left: 3px solid #dc3545;
  padding-left: 0.2em;
}