<app-topbar></app-topbar>
<app-navbar></app-navbar>

<div class="uk-container titulo" >
  <h1 class="uk-heading-divider"><span>Fazer pedido de aluguel</span></h1>
</div>

<div class="uk-container">
  <div style="margin-top:24px">
  <h3>Preencha o formulário, anexe o comprovativo de pagamento e aguarde nossa confirmação para receber sua encomenda.</h3>
</div>
</div>
<div class="uk-container">
  <div *ngFor="let dado of produtos" class="uk-position-relative" uk-slideshow="animation: fade">
    
    <ul *ngIf="dado.nome == pagarNome" class="uk-slideshow-items">
        <li class="img">
            <img src="{{imagem_http}}{{dado.imagem_2}}" alt="" uk-cover>
            {{pegarImagem(dado.imagem_2)}}
        </li>
        <li>
          <img src="{{imagem_http}}{{dado.imagem_1}}" alt="" uk-cover>
        </li>
        <li>
          <img src="{{imagem_http}}{{dado.imagem_3}}" alt="" uk-cover>
        </li>
    </ul>
    <div *ngIf="dado.nome == pagarNome" class="uk-position-bottom-center uk-position-small">
        <ul  class="uk-thumbnav">
            <li uk-slideshow-item="0"><a href="#"><img src="{{imagem_http}}{{dado.imagem_2}}" width="100" height="67" alt=""></a></li>
            <li uk-slideshow-item="1"><a href="#"><img src="{{imagem_http}}{{dado.imagem_1}} " width="100" height="67" alt=""></a></li>
            <li uk-slideshow-item="2"><a href="#"><img src="{{imagem_http}}{{dado.imagem_3}}" width="100" height="67" alt=""></a></li>
        </ul>
    </div>
    
  </div>
  </div>

<!-- COMPONENTE SLIDER-->
<div class="uk-container titulo">
<form [formGroup]="form" (submit)="submeter()"  #formDir="ngForm" class="uk-form-stacked">
  <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-text"><h3>Nome</h3></label>
      <div class="uk-form-controls">
          <input formControlName="nome" class="uk-input" id="form-stacked-text" type="text" placeholder="Seu nome completo">
      </div>
  </div>

  <div *ngIf="nome.invalid && formDir.submitted" class="uk-margin" class="validation-error">
    <p *ngIf="nome.errors?.['required']">
        campo obligatório
    </p>
</div>

  <div class="uk-margin">
    <label class="uk-form-label" for="form-stacked-email"><h3>E-mail</h3></label>
    <div class="uk-form-controls">
      <input formControlName="email"  class="uk-input" id="form-stacked-email" type="email" placeholder="seuemail@google.com">
    </div>
  </div>

  <div *ngIf="email.invalid && formDir.submitted" class="uk-margin" class="validation-error">
    <p *ngIf="email.errors?.['required']">
        campo obligatório
    </p>
</div>

  <div class="uk-margin">
    <label class="uk-form-label" for="form-stacked-telefone"><h3>Telefone</h3></label>
    <div class="uk-form-controls">
      <input  formControlName="telefone" class="uk-input" id="form-stacked-telefone" type="tel" placeholder="(+244) xxx xxx xxx">
    </div>
  </div>

  <div *ngIf="telefone.invalid && formDir.submitted" class="uk-margin"class="validation-error">
    <p *ngIf="telefone.errors?.['required']">
        campo obligatório
    </p>
 </div>

  <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-select"><h3>Medida por idade</h3></label>
      <div class="uk-form-controls">
          <select formControlName="medidadeIdade" class="uk-select" id="form-stacked-select">
              <option>Selecione uma idade</option>
              <option value="18 anos">18 anos</option>
              <option value="19 anos">19 anos</option>
              <option value="20 anos">20 anos</option>
              <option value="21 anos">21 anos</option>
              <option value="22 anos">22 anos</option>
              <option value="23 anos">23 anos</option>
              <option value="24 anos">24 anos</option>
              <option value="25 anos ou mais">25 anos ou mais</option>
          </select>
      </div>
  </div>

  <div *ngIf="medidadeIdade.invalid && formDir.submitted" class="uk-margin"class="validation-error">
    <p *ngIf="medidadeIdade.errors?.['required']">
        campo obligatório
    </p>
 </div>

  <div class="uk-margin" >
      <label class="uk-form-label" for="form-stacked-file"><h3>Carregar Comprovativo</h3></label>
      <div class="uk-form-controls">
          <div class="uk-placeholder uk-text-center">
              <span uk-icon="icon: cloud-upload"></span>
              <span class="uk-text-middle">Arraste e solte ou</span>
              <div uk-form-custom>
                  <input  (change)="Onfile($event)" type="file">
                  <span class="uk-link">selecione um arquivo</span>
              </div>
          </div>
      </div>
  </div>

  <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-textarea"><h3>Requisitos</h3></label>
      <div class="uk-form-controls">
          <textarea  formControlName="requisicao" class="uk-textarea" id="form-stacked-textarea" rows="5" placeholder="Digite aqui os seus requisitos"></textarea>
      </div>
  </div>
  
  <div class="uk-margin" style="margin-bottom:10%">
      <button class="uk-button uk-button-primary"  type="submit">Fazer pedido</button>
  </div>
</form>
</div>
