<div class="uk-card uk-card-default uk-card-body uk-width-1-6@s uk-display-inline-block">
    <ul class="uk-nav-default" uk-nav>
        <li class="uk-nav-header"> <h4 class="uk-text-muted">Menu</h4></li>
        <li class="uk-nav-divider"></li>
        <li class="uk-nav-divider"></li>
        <li><a href="#"><h3><span class="uk-margin-small-right" uk-icon="icon: table"></span> Pedidos</h3></a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="#"><h3><span class="uk-margin-small-right" uk-icon="icon: table"></span> Produtos</h3></a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="#"><h3><span class="uk-margin-small-right" uk-icon="icon: table"></span> Coleções</h3></a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="#"><h3><span class="uk-margin-small-right" uk-icon="icon: table"></span> Clientes</h3></a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="#"><h3><span class="uk-margin-small-right" uk-icon="icon: table"></span> Configurações</h3></a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="#"><h3><span class="uk-margin-small-right" uk-icon="icon: table"></span> Equipe</h3></a></li>
        <li class="uk-nav-divider"></li>
    </ul>
</div>