.uk-background-secondary{
    width: 270px;

    height: 800px;
}
.uk-container-expand{
    padding: 0px;
}

.borda-arredondada{
    border: 1px solid #ccc;
    border-radius: 5px;
}
@media screen and (max-width:1020px) {
    .sobrepor{
        position: absolute;
        z-index: 1;
    }
    .esconder-medio{
        display: none;
    }
    .exibir-medio{
        display: block;
    }
}