<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/css/uikit.min.css" />
<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/js/uikit-icons.min.js"></script>
<div class="">
    <app-dashboardside></app-dashboardside>
    <app-dashboardtop></app-dashboardtop>
    <div class="clients">
        <h1>Clients</h1>
        <div style="margin: auto;">
            <table class="uk-table uk-table-justify uk-table-divider">
                <thead>
                    <tr>
                        <th class="uk-width-medium"> # </th>
                        <th>Nome</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Nome completo 1</td>
                        <td>
                            <span class="uk-margin-medium-right" uk-icon="icon: file-edit"></span>
                            <span class="uk-margin-medium-right" uk-icon="icon: trash"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Nome completo 2</td>
                        <td>
                            <span class="uk-margin-medium-right" uk-icon="icon: file-edit"></span>
                            <span class="uk-margin-medium-right" uk-icon="icon: trash"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
