<div class="uk-container titulo" >
  <h1 class="uk-heading-divider"><span>ATELIER MUNDO GLAMOUR</span></h1>
</div>

<div class="uk-container">
  <h3 class="uk-heading subtitulo"> ALUGUEL DE ROUPAS</h3>
  <h2 class="uk-heading"> Moda Matrimonial</h2>
  <p>Confira as nossas colecções disponíveis para aluguel.</p>

</div>


<div class="uk-container">
<div class="uk-child-width-1-4@m" uk-grid>
  <div>
      <div class="uk-card uk-card-default subtitulo">
          <div class="uk-card-media-top">
              <img src="assets/300x300.png" width="1800" height="1200" alt="">
          </div>
          <div class="uk-card-body">
              <h3 class="uk-card-title">Jacquard Lovers</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="uk-card-footer">
            <a href="#" class="uk-button uk-button-text">Detalhe / Alugar</a>
        </div>
      </div>
  </div>

  <div>
    <div class="uk-card uk-card-default subtitulo">
        <div class="uk-card-media-top">
            <img src="assets/300x300.png" width="1800" height="1200" alt="">
        </div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">Anjo</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
        <div class="uk-card-footer">
          <a href="#" class="uk-button uk-button-text">Detalhe / Alugar</a>
      </div>
    </div>
</div>

<div>
  <div class="uk-card uk-card-default subtitulo">
      <div class="uk-card-media-top">
          <img src="assets/300x300.png" width="1800" height="1200" alt="">
      </div>
      <div class="uk-card-body">
          <h3 class="uk-card-title">Pérola</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
      </div>
      <div class="uk-card-footer">
        <a href="#" class="uk-button uk-button-text">Detalhe / Alugar</a>
    </div>
  </div>
</div>


  <div>
    <div class="uk-card uk-card-default subtitulo">
      <div class="uk-card-media-top">
          <img src="assets/300x300.png" width="1800" height="1200" alt="">
      </div>
      <div class="uk-card-body">
          <h3 class="uk-card-title">Floral</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
        <div class="uk-card-footer">
          <a href="#" class="uk-button uk-button-text">Detalhe / Alugar</a>
      </div>
  </div>
  </div>
</div>
</div>

<div class="uk-container subtitulo">
  <iframe width="100%" height="720px" src="https://www.youtube.com/embed/7AhyyfC5sXs" title="VIDEO MUNDO GLAMOUR 1080" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>


<div class="uk-container">
  <div class="botoes uk-button-group-large">
    <button class=" uk-text-center uk-margin-right uk-button uk-button-large ">Fala connosco</button>
    <button class=" uk-text-center uk-margin-left-large uk-button uk-button-large ">Mais informações</button>
  </div>
  </div>
