<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/css/uikit.min.css" />
<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/js/uikit-icons.min.js"></script>

<!-- Area Total -->
<div class="uk-container uk-container-expand">
    <div class="uk-grid uk-grid-collapse">
        <!-- Area da sidebar -->
        <app-dashboardside></app-dashboardside>
        <!-- Area da navbar e conteudo -->
        <div class="uk-width-expand@m">
            <!-- Navbar -->
            <app-dashboardtop></app-dashboardtop>
            <!-- Conteudo -->
            <div class="uk-padding">
                <h1>Todas as categorias</h1>
                <div class="area-tabela">
                    <div class="uk-padding-small" style="display: flex; justify-content: space-between; align-items: center;">
                        <h2 class="uk-padding-small">Categorias</h2>
                        <form action="" method="get">
                            <input type="text" name="" id="" class="uk-input" placeholder="Pesquise por nome">
                        </form>
                    </div>
                    <div class="uk-padding area-tabela">
                        <table class="uk-table uk-table-justify uk-table-divider">
                            <thead>
                                <tr>
                                    <th> # </th>
                                    <th>Nome</th>
                                    <th>Opções</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <button class="uk-button uk-button-default" type="button" uk-toggle="target: #informacao1">+</button>
                                        <span class="uk-padding-small">Categoria 1</span>
                                        <div id="informacao1" class="uk-padding-small" hidden>
                                            <p>Categoria pai: </p>
                                            <p>Nível de Pedido: </p>
                                            <p>Nível: </p>
                                            <p>Estandarte: </p>
                                            <p>
                                                Destaque: 
                                                <label class="switch">
                                                    <input type="checkbox" id="mySwitch">
                                                    <span class="slider"></span>
                                                </label>
                                            </p>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="uk-margin-medium-right" uk-icon="icon: file-edit"></span>
                                        <span class="uk-margin-medium-right" uk-icon="icon: trash"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        <button class="uk-button uk-button-default" type="button" uk-toggle="target: #informacao2">+</button>
                                        <span class="uk-padding-small">Categoria 2</span>
                                        <div id="informacao2" class="uk-padding-small" hidden>
                                            <p>Categoria pai: </p>
                                            <p>Nível de Pedido: </p>
                                            <p>Nível: </p>
                                            <p>Estandarte: </p>
                                            <p>
                                                Destaque: 
                                                <label class="switch">
                                                    <input type="checkbox" id="mySwitch">
                                                    <span class="slider"></span>
                                                </label>
                                            </p>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="uk-margin-medium-right" uk-icon="icon: file-edit"></span>
                                        <span class="uk-margin-medium-right" uk-icon="icon: trash"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
