<nav class="uk-navbar-container uk-navbar-transparent">
    <div uk-navbar>
      <div class="uk-navbar-center uk-navbar-transparent">
  
      <div class="uk-navbar-item uk-logo">
        <a href="https://modamundoglamour.com/"> <img src="assets/logo_branco_oficial.png" width="auto" height="200px" alt=""></a>
      </div>
  
      </div>
      </div>
  </nav>

<nav class="uk-navbar-container">
    <div class="uk-container">
        <div uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="#" aria-label="Back to Home">Dashboard</a>
                <ul class="uk-navbar-nav">
                    <!--<li class="uk-active"><a href="#">Active</a></li>
                    <li>
                        <a href="#">Parent</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active"><a href="#">Active</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">Item</a></li>-->
                </ul>

            </div>

            <div class="uk-navbar-right">

                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#"><img src='https://dummyimage.com/50x50/000/fff.png?text=imagem%20de%20usuario' class="uk-border-circle uk-background-default" width="50px" alt=''/></a></li>
                    <li>
                        <a href="#"></a>
                        <!--<div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active"><a href="#">Active</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                            </ul>
                        </div>-->
                    </li>
                    <li><a href="" class="uk-text-danger">Logout</a></li>
                </ul>

            </div>

        </div>
    </div>
</nav>