.uk-navbar-container{
    box-shadow: 10px 0px 10px #ccc;
}
.borda-arredondada{
    border: 1px solid #ccc;
    border-radius: 5px;
}


@media screen and (max-width:760px) {
    .esconder-medio{
        display: none;
    }
    .exibir-medio{
        display: block;
    }
}