<nav class="uk-navbar-container uk-navbar-transparent">
  <div uk-navbar>
    <div class="uk-navbar-center uk-navbar-transparent">

    <div class="uk-navbar-item uk-logo">
      <a href="https://modamundoglamour.com/"> <img src="assets/logo_branco_oficial.png" width="300px" height="100px" alt=""></a>
    </div>

      <div class="uk-navbar-item">
        <form action="javascript:void(0)">
            <input class="uk-input uk-form-width-medium" type="text" placeholder="Pesquisar produtos" aria-label="Input">
            <button class="uk-button uk-button-default uk-text-color-white">Pesquisar</button>
        </form>
    </div>

    <ul class=" uk-list uk-navbar-nav">
      <li class="uk-navbar-right uk-active"><a href="#">Rastrear </a></li>
      <li><a href="#">Apoio ao cliente</a></li>
    </ul>
    </div>
    </div>
</nav>
    <app-navmenu></app-navmenu>
