<nav class="uk-navbar-container">
  <div class="uk-container">
      <div uk-navbar>

          <div class="uk-navbar-center">

              <div class="uk-navbar-center">
                  <ul class="uk-navbar-nav">
                      <li><a href="/">Início</a></li>
                      <li><a href="https://modamundoglamour.com/all-categories">Loja</a></li>
                      <li><a href="https://modamundoglamour.com/all-brands">Marcas</a></li>
                      <li><a href="https://modamundoglamour.com/all-blogs">Eventos</a></li>
                      <li><a href="https://modamundoglamour.com/all-offers">Promoções</a></li>
                      <li><a href="#">Empregos</a></li>
                      <li><a href="#">Contacto</a></li>
                      <li><a href="#">Membership</a></li>

                  </ul>
              </div>

          </div>

      </div>
  </div>
</nav>
