<app-topbar></app-topbar>
<app-navbar></app-navbar>

    <!--Botão do WhatsApp-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


<a href="https://api.whatsapp.com/send?phone=244932220039&text=Oi%21%20gostaria%20de%20saber%20mais%20sobre%20sobre%20vossos%20produtos%20." class="float" target="_blank">
  <i class="fa fa-whatsapp my-float"></i>
  </a>
<!--Título da página-->
<div class="uk-container titulo" >
  <h1 class="uk-heading-divider" style="font-family:'Calibri', sans-serif; color: #AC8030;">ATELIER MUNDO GLAMOUR</h1>
</div>

<!-- 2 cards principais-->
<div class="uk-container">
    <div class="uk-child-width-1-2@m" uk-grid style="margin-top: 24px;">
      <div>
          <div class="uk-card uk-card">
              <div class="uk-card-media-top">
                  <img class="uk-border-rounded" src="assets/ajustamento_mundoglamour_wide.png" width="700px" height="300px" alt="">
              </div>
              <div class="uk-card-body" style="background-image: url('assets/bg-card.jpg'); background-size:contain; background-repeat:no-repeat; background-position: center center" >
                  <h3 class="uk-text-center">
<!-- 1 - Modal ALrgamento -->
<a href="#modal-alargamento" uk-toggle> <span uk-icon="icon: expand"> </span>Alargamento</a>
<div id="modal-alargamento" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
       <!-- <img src=""> -->
        <h2 class="uk-modal-title uk-text-center"><span uk-icon="icon: expand; ratio: 3"></span>Alargamento</h2>
        <p>Neste serviço o Mundo Glamour faz alargamento de qualquer peça de roupa seja ela completa ou
          por partes, de acordo com o desejo do cliente.
          Exemplo de Alargamento:
          - Calça apertada, Vestido, Cintura, Blazer etc.</p>
        <p class="uk-text-right">
           <img src="assets/precario/alargamento.jpg" alt="">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Fechar</button>



        </p>
    </div>
</div><br>
<!-- 1 - Modal Ajustamento -->
<a href="#modal-ajustamento" uk-toggle> <span uk-icon="icon: shrink"></span> Ajustamento</a>
<div id="modal-ajustamento" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title uk-text-center"><span uk-icon="icon: shrink; ratio: 3"></span>Ajustamento</h2>
        <p>Neste servico o Mundo Glamour ajusta qualquer peca de roupa completa ou por partes, de acordo
          com o desejo do cliente.
          <b><br>Exemplo de Ajustamento:</b>
          - Calça larga, Vestido, Cintura, Mangas de Blusas, Blazer, Camisas etc.</p>
        <p class="uk-text-right">
          <img src="assets/precario/ajustamento.jpg" alt="">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Fechar</button>
        </p>
    </div>
</div><br>
<!-- 2 - Modal Rsstauração -->
<a href="#modal-restauracao" uk-toggle><span uk-icon="icon: refresh"></span> Restauração</a>
<div id="modal-restauracao" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title uk-text-center"><span uk-icon="icon: refresh; ratio: 3"></span>Restauração</h2>
        <p>Neste serviço o Mundo Glamour restaura qualquer peca de roupa completa ou por partes, de
          acordo com o desejo do cliente.
          <br><b>Exemplo de Restauração:</b>
          - Calças rasgadas ou desmachadas, Vestido, Blazer etc.
          - Conserto de feichos, botões etc.
          - Costura de bainha, decote etc.
          - Calça larga, Vestido, Cintura, Mandgas de Blusas, Blazer ou Camisas</p>
        <p class="uk-text-right">
          <img src="assets/precario/restauracao.jpg" alt="">
          <button class="uk-button uk-button-default uk-modal-close" type="button">Fechar</button>
        </p>
    </div>
</div><br>
<!-- 3 - Modal Rsstauração -->
<a href="#modal-confeccao" uk-toggle><span uk-icon="icon: settings"></span> Transformação</a>
<div id="modal-confeccao" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title uk-text-center"><span uk-icon="icon: settings; ratio: 3"></span>  Transformação</h2>
        <p>Neste serviço o Mundo Glamour Tranforma qualquer peça de roupa completa ou por partes, de
          acordo com o desejo do cliente.
         <br><b> Exemplo de Transformação: </b>
          - Transformamos Saia em Calça, Fato de Calça e Blazer em Fato Macação, Calça em Calçao
          etc.</p>
        <p class="uk-text-right">
          <img src="assets/precario/cofeccao.jpg" alt="">
          <button class="uk-button uk-button-default uk-modal-close" type="button">Fechar</button>
        </p>
    </div>
</div><br>
<!-- 4 - Modal Restauração
<a href="#modal-example3" uk-toggle> <span uk-icon="icon: pencil"></span> Criação de Roupas</a>
<div id="modal-example3" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <p><span uk-icon="icon: pencil"></span></p><h2 class="uk-modal-title">Criação de Roupas</h2>
        <p>O mundo Glamour Confeciona desde Roupas para Crianças a Adultos, para tudos gendro e
          ocasiões.
          ESPECIAL MATRIMÓNIO
          • Para Casamento, o Mundo Glamour oferece um paquete de enxoval dos Noivos, Pais e
          Padrinhos por apenas 500,000Kz (para o total de 12 Pessoas) ate o final de 2023.
          *Para Noiva, apenas vestidos simples, estilos Sereia, Reto, Princesa vazio e Curto*
          • Para Casamento Tradicional (o ALAMBAMENTO), o Mundo Glamour oferece um paquete
          de enxoval para os Noivos, Damos e Damas de Honra por apenas 250,000Kz (para o total
          de 10 pessoas) ate o final de 2023
          • Para prepacao dos Noivos, o Mundo Glamour oferece um paquete de enxoal de Robes e
          Roupão para os Noivos e os Damos e Damas de Honra por apenas 66,000Kz (para o total
          de 10 pessoas</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Preçário</button>
            <button class="uk-button uk-button-default uk-modal-close" type="button">Fechar</button>
        </p>
    </div>
</div><br>  -->
<!-- 4 - Modal Medidas ao Domicílio -->
<a href="#modal-example4" uk-toggle><span uk-icon="icon: bookmark"></span>   Medidas ao domicílio</a>
<div id="modal-example4" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title"><span uk-icon="icon: bookmark"></span>   Medidas ao domicílio</h2>
        <p>TesteLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Preçário</button>
            <button class="uk-button uk-button-default uk-modal-close" type="button">Fechar</button>
        </p>
    </div>
</div><br>
<!-- 5 - Modal Medidas ao Domicílio -->
<a href="#modal-example5" uk-toggle><span uk-icon="icon: bag"></span>  Entregas ao domicílio</a>
<div id="modal-example5" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title uk-text-center"><span uk-icon="icon: bag; ratio: 3"></span>  Entregas ao domicílio</h2>
        <p>TesteLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Fechar</button>
        </p>
    </div>
</div>
                  </h3>
              </div>
          </div>
      </div>
      <div>
        <div class="uk-card uk-card">
            <div class="uk-card-media-top">
              <iframe width="100%" height="335px" src="https://www.youtube.com/embed/7AhyyfC5sXs" title="VIDEO MUNDO GLAMOUR 1080" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="uk-card-body">
                <p>Vestimos desde a classe media a alta, costurando roupas de por medidas, com qualidade de alta costura e decência, para todas ocasiões, idades e género.
                    Alem dos serviços mencionados, também promovermos a marca de roupa “Mundo Glamour”, e marcas de roupa de Desenhadores Sócios Internacionais</p>
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>
                  <!-- Slider-->

                  <div class="uk-text">
                  <h2 class="uk-heading" style="color:black">Nossas Colecções</h2>
                </div>

                  <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-3@m">
                      <li>
                          <a routerLink="/checkout"><img src="assets/colect1.jpg" width="400" height="600" alt=""></a>
                          <div class="uk-position-bottom uk-panel">
                          </div>
                            <p style="color:black" > Lovers</p>
                      </li>
                      <li>
                          <a routerLink="/checkout"><img src="assets/perola.jpg" width="400" height="600" alt=""></a>
                          <div class="uk-position-center uk-panel"></div>
                          <p class="uk-text uk-text-center" style="color:black" >Pérola</p>

                      </li>
                      <li>
                          <a routerLink="/checkout"><img src="assets/colect4.jpg" width="400" height="600" alt=""></a>
                          <div class="uk-position-center uk-panel"></div>
                          <p class="uk-text uk-text-center" style="color:black" >Anjo</p>

                      </li>
                      <li>
                          <a href=""> <img src="assets/colect2.jpg" width="400" height="600" alt=""></a>
                          <div class="uk-position-center uk-panel"></div>
                      </li>
                                        </ul>

                  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

              </div>
              </div>
        </div>
    </div>

  </div>

  <div class="uk-container">
    <div class="botoes uk-button-group-large">
      <button class=" uk-text-center uk-margin-right uk-button uk-button-large "><a style="color:inherit; text-decoration:none;" href="https://api.whatsapp.com/send?phone=244932220039&text=Oi%21%20gostaria%20de%20saber%20mais%20sobre%20sobre%20vossos%20produtos%20."> Fala connosco</a></button>
      <button class=" uk-text-center uk-margin-left-large uk-button uk-button-large"><a style="color:inherit; text-decoration:none;" href="https://modamundoglamour.com/contacto">Mais informações</a></button>
    </div>
    </div>



