<!-- Componentes-->
<app-topbar></app-topbar>
<app-navbar></app-navbar>
<!-- Dependecia-->
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/css/uikit.min.css" />
<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/js/uikit-icons.min.js"></script>

<div class="container">
    <div class="bloco1" data-src="assets/imagem.jpg" uk-img>…</div>
    <div class="bloco2">
        <h3 class="uk-text-muted">BEM-VINDO AO CADASTRO DE USUÁRIO</h3>
        <br>
        <form action="" method="post">
            <div>
                <label for="nome_completo">Nome completo</label>
                <input class="uk-input" type="nome_completo" name="" id="" placeholder="Nome completo">
            </div>
            <br>
            <div>
                <label for="email">E-mail</label>
                <input class="uk-input" type="email" name="" id="" placeholder="Endereço electrónico">
            </div>
            <br>
            <div>
                <label for="senha">Senha</label>
                <input class="uk-input" type="password" name="" id="" placeholder="Palavra-passe">
            </div>
            <br>
            <div>
                <label for="confirmar-senha">Confirmar senha</label>
                <input class="uk-input" type="password" name="" id="" placeholder="Confirmar palavra-passe">
            </div>
            <p>Ao se inscrever, você concorda com o nosso <a class="termos" href="#">Termos e condições</a></p>
            <br>
            <div>
                <button type="submit" class="uk-button uk-button-default uk-width-medium">CRIAR CONTA</button>
            </div>
        </form>
        <br>
        <div>
            <div class="alternativa-login">
                <p>ou, Faça o login com</p>
                <hr role="separator" aria-orientation="horizontal" class="v-divider theme--light">
            </div>
            <div class="redes-sociais">
                <a href="" class="uk-icon-button" uk-icon="facebook"></a>
                <a href="" class="uk-icon-button" uk-icon="twitter"></a>
                <a href="" class="uk-icon-button" uk-icon="google"></a>
            </div>
        </div>
    </div>
</div>