<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/css/uikit.min.css" />
<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/js/uikit-icons.min.js"></script>
<div class="">
    <app-dashboardside></app-dashboardside>
    <app-dashboardtop></app-dashboardtop>
    <div class="main">
        <h1>Main</h1>
        <div class="uk-text-center conteudo" uk-grid>
            <div class="uk-width-1-4">
                <div class="uk-card uk-card-default uk-card-body">Total de Clientes</div>
            </div>
            <div class="uk-width-1-4">
                <div class="uk-card uk-card-default uk-card-body">Total de Produtos</div>
            </div>
            <div class="uk-width-1-4">
                <div class="uk-card uk-card-default uk-card-body">Total de Pedidos</div>
            </div>
            <div class="uk-width-1-4">
                <div class="uk-card uk-card-default uk-card-body">Total de Vendas</div>
            </div>
        </div>
    </div>
</div>
