.uk-container-expand{
    padding: 0px;
}

.uk-card-body{
    border-radius: 15px;
}
.azul{
    background-color: rgb(127, 204, 255);
}
.laranja{
    background-color: #e7e712;
}
.verde{
 background-color: rgb(27, 250, 250);
}
.vermelho{
    background-color: #fd7474;
}